.box {
  display: flex;
  align-items: center;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.history-text {
  color: #FFF !important;
}

.debugger {
  background-color: #fff;
  padding: 15px;
  width: auto;
  max-height: 300px;
  opacity: 1;
  text-align: center;
}


.debugger-title {
  text-align: left;
}


.tableFixHead {
  overflow-y: scroll;
  margin: 5px;
}


.tableFixHead > thead, th {
  top: 0;
  height: 45px;
}

.gray-border {
  border: 1px solid #999;
}


.debugger-table td {
  padding: 5px;
  text-align: center;
  /* column-width: 120px; */
}


.sticky {
  position: sticky;
}

.debugger-table > thead,
tfoot {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.debugger-btn {
  border-style: none;
  background-color: #FFF;
  color: rgb(26, 115, 187);
}

.debugger-btn:hover {
  color: #FFF !important;
  background-color: #6c757d !important;
}

.stack {
  width: 800px;
  column-width: 800px;
  font-size: 1rem;
  text-align: left !important;
  /* border: 1px solid #999;
  padding: 20px;
  margin: 20px; */
}

.stack > th {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.btn-spotify:hover {
  color: #FFF !important;
  background-color: #6c757d !important;
}

.btn-spotify {
  border-color:  #FFF !important;
}

body {
  font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

option {
  font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;
}

select#fixed {
  -webkit-appearance: none;
  font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;

}

h5 {
	padding-bottom: 15px;
	padding-top: 10px;
}

.link {
  padding: 15px;
  color: #393B44 !important;
}


#topbar {
  color: #F1F3F8;
  /* border-bottom: 1px solid #000; */
  /* background-color: #393B44; */
}

.space {
  padding: 10px;
  margin: 10px;
}

@media only screen and (min-device-width : 480px) {
  .top-space {
    margin-top: 50px;
  }
}

@media only screen and (max-device-width : 480px) {
  .top-space {
    margin-top: 10px;
    flex-wrap: nowrap !important;

  }
}

.more-space {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.signed-in {
  vertical-align: middle;
  padding-right: 20px;
}

.search {
  margin-top: auto;
  margin-bottom: 5px;
}

.search-top {
  margin-top: 0px;
  margin-bottom: auto;
}

@media only screen and (max-device-width : 480px) {
  .search-button {
    margin-top: 15px;
    margin-bottom: auto;
  }
}

@media only screen and (max-device-width : 480px) {
  .mobile-btn {
    margin-left: 12px;
  }
}

@media only screen and (max-device-width : 480px) {
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fixed-width {
  width: 250px !important;
  padding-right: 5px;
  padding-left: 5px;
}

@media only screen and (min-device-width : 480px) {
  .wider {
    min-width: 400px;
  }
}

@media only screen and (max-device-width : 480px) {
  .wider {
    max-width: 300px;
    min-width: 200px;
  }
}

@media only screen and (max-device-width : 480px) {
  .badge-mobile {
    margin-left: 20px;
  }
}

@media only screen and (max-device-width : 480px) {
  .badge-playlist {
    max-width: 140px;
  }
}

@media only screen and (min-device-width : 480px) {
  .wider-btn {
    width: 100px;
  }
}

@media only screen and (max-device-width : 480px) {
  .wider-btn {
    max-width: 100px;
    min-width: 100px;
  }
}

@media only screen and (max-device-width : 480px) {
  .pad-mobile {
    margin-left: 20px;
    margin-bottom: 10px;
    max-height: calc(1.5em + 0.75rem + 2px);
  }
}

.control {
  width: 240px !important;
}

.genre-input {
  position: relative;
  z-index: 1;
}

.genre-dropdown-item {
  background-color: transparent;
}

.genre-dropdown-item.highlighted {
  background-color: #eee;
}

.hyper-search {
  color: #393B44;
  /* font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 !important;
  /* font-style: italic; */
  font-size: 24px;
  margin: 0 0 20px 6px;
  line-height: 40px;
  letter-spacing: .5px;
}

#cover-image {
  background-image:url('/static/img/banner.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  /* background-position: center; */
  padding-bottom: 100px;
  max-height:20%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 20 !important;
  margin-right: 20 !important;
}

#banner-image {
  background-image:url('/static/img/banner.jpg') !important;
  background-size: cover;
  max-height: 180px;
  background-repeat: no-repeat;
  background-position-y: 75%;
  padding-bottom: 150px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 20 !important;
  margin-right: 20 !important;
}

.banner {
  margin-top: 220px!important;
  margin-left: 80px !important;
  margin-bottom: 0px !important;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
}

.h1 {
  font-weight: 400;
  line-height: 90%;
  letter-spacing: 0px;
  color: rgb(73, 72, 72);
  margin-bottom: 60px;
  margin-left: 100px;
  /* font-family: 'Montserrat', sans-serif; */
}

.padding {
  padding-top: 30px;
}

.start {
  margin-left: 50px;
}

.right-nav {
  margin-bottom: 30px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.hyper {
  padding-top: 50px;
  /* border-bottom: 1px solid #000; */
  line-height: 0.1em;
  margin: 0 0 40px;
  vertical-align: text-bottom !important;
  letter-spacing: 0.1em;
}

.trackspotter {
  vertical-align: text-bottom !important;
  align-self: baseline;
}

.line {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#slider {
	background-color: limegreen;
}

td {
	vertical-align: middle !important;
}

.search {
  min-height: 46px !important;
}

#need-space {
	min-width: 50 px;;
}

.align-center {
  text-align: center !important;
}

#log-in {
  padding-top: 20px !important;
	max-width: 50px;
}

#playlist_table {
  margin-top: 10px;
  border: none !important;
  text-align: center !important;
}

#playlist-thead {
  color: #F1F3F8;
  background-color: #393B44;
}

.table th {
  border-top: none;
}

@media only screen and (min-device-width : 480px) {
  .navbar-nav {
    flex-direction: row;
  }
}

@media only screen and (min-device-width : 480px) {
  .center-nav {
    justify-content: center;
  }
}

@media only screen and (max-device-width : 480px) {
  .center-nav {
    justify-content: left;
  }
}

@media only screen and (max-device-width : 480px) {
  .navbar-nav {
    justify-content: left;
    float: left;
  }
}

@media only screen and (max-device-width : 480px) {
  .col-mobile {
    padding-right: 2px !important;
    padding-left: 2px !important;
  }
}

@media only screen and (max-device-width : 480px) {
  .col-mobile-badge {
    padding-right: 2px !important;
    padding-left: 2px !important;
    max-width: 150px;
    overflow: hidden;
  }
}

.btn-dark {
	font-family: 'Quicksand', Arial, Helvetica, sans-serif;
	font-weight: lighter;
	padding: 5px;
	margin: 2px;
}

.delete-button {
  font-size: 24px;
}

.auto {
	font-family: 'Quicksand', Arial, Helvetica, sans-serif !important;
  font-weight: lighter !important;
  font-size: 14px !important;
}

@media only screen and (min-device-width : 480px) {
  .badge {
    color: #F1F3F8;
    background-color: #393B44;
    border-style: solid;
    border-width: 1px;
    border-color: #204051;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
  }
}

@media only screen and (max-device-width : 480px) {
  .badge {
    color: #F1F3F8;
    background-color: #393B44;
    border-style: solid;
    border-width: 1px;
    border-color: #204051;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
  }
}

@media only screen and (min-device-width : 480px) {
  .badge-lower {
    margin-top: 60px;
    margin-bottom: -20px;
  }
}

span {
  max-height: 50px;
  display: inline-flex;
  align-items: center;
}

#tracks-header {
	padding: 20 px !important;
	margin-left: 0px !important;
	margin-right: 20px !important;
	margin-top: 20px !important;
	margin-bottom: 10px !important;
}

.save {
	margin-right: 5px !important;
}

.title {
  color:  #393B44;
  margin-top: 0px;
}

a {
  color:  #393B44 !important;
}

@media only screen and (min-device-width : 480px) {
  .title-form {
    min-width: 400px;
    font-size: 32px;
    font-weight: bold;
    border: 0;
    background: transparent;
  }
}

@media only screen and (max-device-width : 480px) {
  .title-form {
    max-width: auto;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    background: transparent;
  }
}

.tryitout {
  margin-top: -15px;
  margin-left: 210px;
  opacity: 0.8;
  z-index: -1;
  position: relative;
}

.loginprompt {
  margin-bottom: 0px;
  margin-left: 210px;
  margin-right: 30px;
  margin-top: -20px;
  opacity: 0.8;
}

#avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.dragger {
  opacity: 0.5;
}

.center {
  justify-content: center !important;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color:  #393B44;
  color:  #F1F3F8;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 1rem;
}

.snackbar.show {
  visibility: visible;
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}