.box {
  display: flex;
  align-items: center;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.btn-spotify:hover {
  color: #FFF;
}

h5 {
	padding-bottom: 15px;
	padding-top: 10px;
}

#topbar {
  color: #F1F3F8;
  /* background-color: #393B44; */
}

.space {
  padding: 10px;
  margin: 10px;
}

.signed-in {
  vertical-align: middle;
  padding-right: 20px;
}

.hyper-search {
  color: #393B44;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 24px;
  margin: 0 0 20px 6px;
  line-height: 40px;
  letter-spacing: .5px;

}

.hyper {
  padding-top: 50px;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 5px 0 40px;
}

.line {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#slider {
	background-color: limegreen;
}

td {
	vertical-align: middle !important;
}

#need-space {
	min-width: 50 px;;
}

#log-in {
	max-width: 120px;
}

#playlist-thead {
	color: #F1F3F8;
  background-color: #393B44;
  border-style: none !important;
}

.navbar-nav {
	flex-direction: row;
}

.btn-dark {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	padding: 5px;
	margin: 2px;
}

.badge {
	color: #F1F3F8;
	background-color: #393B44;
	border-style: solid;
	border-width: 1px;
	border-color: #204051;
	margin-top: 25px;
}

span {
  max-height: 50px;
  display: inline-flex;
  align-items: center;
}

#tracks-header {
	padding: 100 px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
	margin-top: 80px !important;
	margin-bottom: 10px !important;
}

.save {
	margin-right: 5px !important;
}

title {
	color:  #393B44;
}

a {
  color:  #393B44;
}

#title-form {
	min-width: 250px;
}

/*
body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
*/