.box {
  display: flex;
  align-items: center;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

Container {
	margin: 10px;
}

h5 {
	padding-bottom: 15px;
}

#slider {
	background-color: limegreen;
}

#need-space {
	min-width: 50 px;;
}

#log-in {
	max-width: 120px;
}

#playlist_table {
	margin: 50px;
}

#playlist-thead {
	background-color: black;
	color: whitesmoke;
}

.navbar-nav {
	flex-direction: row;
}

.btn-dark {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	padding: 5px;
	margin: 2px;
}

/* .tracks {
	margin: 0px;
	padding: 0px;
	max-width: 1600px;
	align-items: center;
	justify-content: center;
} */
