<!DOCTYPE html>
<html>

<head>
  <title>trackspotter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="trackspotter">
  <meta property="og:description" content="Easily find the songs you love">
  <meta property="og:image" content="https://trackspotter.app/static/img/thumb-logo.jpg">
  <meta property="og:url" content="https://trackspotter.app/homepage.htm">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="trackspotter">
  <meta name="twitter:image:alt" content="trackspotter search GUI">

  <script>const USER = {{ user_json | safe }};</script>

  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css"
    crossorigin="anonymous" />
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="/static/css/site.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
</head>

<body>
  <div id="root"></div>

  {% if webpack_host %}
  <script src="{{ webpack_host }}/static/js/bundle.js"></script>
  <script src="{{ webpack_host }}/static/js/0.chunk.js"></script>
  <script src="{{ webpack_host }}/static/js/main.chunk.js"></script>
  {% endif %}
</body>

</html>